@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <h1 class="display-4">Ver</h1>
    <p>Colocar um texto ou algo do tipo.</p>
    <p>Talvez, Seja bem vindo: Nome do login logado, Seu acesso é: tipo do acesso</p>
    <p>Inicie selecionando uma das opções acima de acordo com a sua necessidade.</p>
</div>
