<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ICommerceNetCore | A sua solução comercial Inteligente |</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ICommerceNetCore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            margin: 0;
            padding: 0;
            background: url('/images/Logo_Home_BKG.jpg') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Garante que a altura ocupe a tela inteira */
        }

        .text-center {
            text-align: center;
            flex: 1; /* Faz com que a div ocupe o espaço restante verticalmente */
            padding: 20px; /* Ajuste conforme necessário */
        }

        footer {
            background-color: transparent; /* Cor de fundo do rodapé */
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/images/Logo.png" width="25" height="25" /> &nbsp;<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Retorna à página inicial"><strong><font color="#ff9933;">ICommerce</font></strong><strong> .netCore</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#ffbf00"><i class="fa-solid fa-handshake fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Clientes" asp-action="Index" title="Cadastro de Clientes">Clientes</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#994d33"><i class="fas fa-motorcycle fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">                                    
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Entregadores" asp-action="Entregadores" title="Cadastro de Entregadores">Entregadores</a>
                                </div>
                            </div>                            
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#ff99cc"><i class="fas fa-shipping-fast fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Fornecedores" asp-action="Index" title="Cadastro de Fornecedores">Fornecedores</a>
                                </div>
                            </div>                            
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#99ff99"><i class="fas fa-id-card fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Funcionarios" asp-action="Index" title="Cadastro de Funcionários">Funcionários</a>
                                </div>
                            </div>                            
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#0000ff"><i class="fas fa-chart-pie fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Paineis" asp-action="Index" title="Visualizar paineis de desempenho">Paineis</a>
                                </div>               
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#009933"><i class="fa fa-money-bill fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Pedidos" asp-action="Index" title="Entrar na tela Caixa/Pedidos">Pedidos</a>
                                </div>
                            </div>                            
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#ffcc99"><i class="fas fa-dolly fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Produtos" asp-action="Index" title="Cadastro de Produtos">Produtos</a>
                                </div>
                            </div>                            
                        </li>
                        <li class="nav-item">
                            <div style="display: flex;">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div style="flex: 1;">
                                    <font color="#999966"><i class="fa fa-users fa-lg"></i></font>
                                </div>
                                <div style="flex: 1;">
                                    <a class="nav-link navbar-text" asp-area="" asp-controller="Usuarios" asp-action="Index" title="Cadastro de Usuários">Usuários</a>
                                </div>
                            </div>                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <font color="#000000"> &copy; @Html.Label(@DateTime.Now.ToString("yyyy")) - ICommerce .netCore - Versão 1.0 </font>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
